html
  head
    link(href='bootstrap-3.3.6-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/default.css', rel='stylesheet')
    script(src='jq/jquery.js')
    title Login
    meta(charset='UTF-8')
  body.login
    .container
      table.table.table-hover.table-bordered
        -for(var prop in userData)
          tr
            td #{prop}
            td #{JSON.stringify(userData[prop])}
      form(method='POST', action='/auth/logout')
        button#login.btn.btn-lg.btn-primary.btn-block Log out
